<link href="https://fonts.googleapis.com/css?family=Alegreya&display=swap" rel="stylesheet">

<div class="dashboard-content">
  <div class="dashboard-header">
 <button mat-raised-button color="primary" (click)=openDialog() routerLinkActive="active">Add Employee</button>
 <button mat-raised-button color="primary" (click)=logout() routerLinkActive="active">LogOut</button>
 </div>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
    <!-- Name Column -->
  
  
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td class="employee-name" mat-cell *matCellDef="let employee" (click)="openDialog(employee)"> <b>{{employee.firstName}} {{employee.lastName}} </b></td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> Email </th>
      <td mat-cell *matCellDef="let employee"> <b>{{employee.email}}</b></td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    
  </table>

</div>